<svg width="646" height="646" xmlns="http://www.w3.org/2000/svg">
 <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->

 <g>
  <title>Background</title>
  <rect fill="#fff" id="canvas_background" height="648" width="648" y="-1" x="-1"/>
  <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
   <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
  </g>
 </g>
 <g>
  <title>Unicorn</title>
  <rect stroke="#000" id="svg_1" height="43" width="646" y="0" x="-0.5" stroke-width="1.5" fill="#0fffff"/>
  <text stroke="#000" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_3" y="30" x="5" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#000000">Beast Type: Unicorn</text>
  <rect stroke="#000" id="svg_5" height="43" width="646" y="43" x="-0.5" stroke-width="1.5" fill="#e200e2"/>
  <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_6" y="72" x="5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Color Combination: <%= colorCombination %></text>
  <rect stroke="#000" id="svg_7" height="43" width="646" y="86" x="-0.5" stroke-width="1.5" fill="#7c66ff"/>
  <text stroke="#000" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_8" y="116" x="5" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#000000">Ability: <%= ability %></text>
  <rect stroke="#000" id="svg_9" height="43" width="646" y="129" x="-0.5" stroke-width="1.5" fill="#0cb700"/>
  <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_10" y="158" x="5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Second Ability: <%= secondAbility %></text>
  <rect stroke="#000" id="svg_11" height="43" width="646" y="172" x="-0.5" stroke-width="1.5" fill="#a560ff"/>
  <text stroke="#000" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_12" y="202" x="5" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#000000">Pedigree: <%= pedigree %></text>
  <rect stroke="#000" id="svg_13" height="43" width="646" y="215" x="-0.5" stroke-width="1.5" fill="#f7711d"/>
  <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_14" y="244" x="5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Element: <%= element %></text>
  <rect stroke="#000" id="svg_15" height="43" width="646" y="258" x="-0.5" stroke-width="1.5" fill="#ffa100"/>
  <text stroke="#000" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_16" y="288" x="5" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#000000">Type: <%= type %></text>
  <rect stroke="#000" id="svg_17" height="43" width="646" y="301" x="-0.5" stroke-width="1.5" fill="#ff4444"/>
  <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_18" y="330" x="5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Eyes: <%= eyes %></text>
  <rect stroke="#000" id="svg_19" height="43" width="646" y="345" x="-0.5" stroke-width="1.5" fill="#fff30f"/>
  <text stroke="#000" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_20" y="375" x="5" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#000000">Horn: <%= horn %></text>
  <rect stroke="#000" id="svg_21" height="43" width="646" y="388" x="-0.5" stroke-width="1.5" fill="#7fff00"/>
  <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_22" y="417" x="5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Hair: <%= hair %></text>
  <rect stroke="#000" id="svg_23" height="43" width="646" y="431" x="-0.5" stroke-width="1.5" fill="#ff007f"/>
  <text stroke="#000" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_24" y="461" x="5" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#000000">Tail: <%= tail %></text>
  <rect stroke="#000" id="svg_25" height="43" width="646" y="474" x="-0.5" stroke-width="1.5" fill="#ffd4aa"/>
  <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_26" y="503" x="5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Snout: <%= snout %></text>
  <rect stroke="#000" id="svg_27" height="43" width="646" y="517" x="-0.5" stroke-width="1.5" fill="#cccccc"/>
  <text stroke="#000" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_28" y="547" x="5" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#000000">Legs: <%= legs %></text>
 </g>
</svg>